/* This is where styles are defined for your page. */
/* One style is provided as example. */


small {
  font-size: 10px;
}
header{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.coleridge-info{
  float: right;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.poem-list {
  width: 500px;
}

.poem{
  background-image: url(images/sand.jpg);
  list-style: none; /* Remove list bullets */
  padding: 5;
  margin: 5;
  font-family: "Zapf Chancery", Florence, fixed, Sans-Serif;
  font-style: italic;
  Text-align: Center;
  line-height: 34px;
  font-weight: bold;
  font-size: 20px;
}

.footer-top-right{
  	float: right;
}

.footer-top-left{
}

.footer-bottom{

}


body {
  background-image: url(images/hiking-the-sand-dunes.jpg);
  margin: 1cm 3cm 1cm 3cm;
  font-family: verdana, helvetica;
 
}